html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", 'Arial', 'MS Gothic';
}

body {
  width: 1280px;
  margin: 0 auto;
  padding-top: 300px;
}

.header{
  .header-title{
    font-size: 2.4rem;
    text-align: center;
  }
}